html,
body {
  height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(78, 147, 167, 1) 100%
  );
}

.page-header {
  margin-top: 4rem;
  font-size: 1.2rem;
  color: #fff;
}

.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.service {
  color: #fff;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}
